.slideshow {
    margin: 40px 0px 0px 0px;

    div {
        width: 100%;
        height: 415px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        .arrowLeft {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: 20px;
        }

        .arrowRight {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 20px;
        }

        .number {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 30px;
            color: white;
        }
    }
}
