* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    font-weight: 500;
    padding: 40px 100px 0px 100px;
    margin: 0 auto;
    @media screen and (max-width: $breakpoint-t) {
        padding: 30px 60px 0px 60px;
    }
    @media screen and (max-width: $breakpoint) {
        padding: 20px 20px 0px 20px;
    }
}
