footer {
    display: flex;
    position: relative;
    justify-content: center;
    background: black;
    width: 100vw;
    height: 209px;
    left: -100px;
    top: 20px;
    bottom: 0px;
    @media screen and (max-width: $breakpoint-t) {
        left: -60px;
    }
    @media screen and (max-width: $breakpoint) {
        left: -20px;
    }

    & img {
        display: flex;
        width: 122px;
        height: 40px;
        margin: 50px auto 30px auto;
        @media screen and (max-width: $breakpoint) {
            margin-top: 65px;
            margin-bottom: 10px;
        }
    }
    & p {
        color: white;
        font-size: 24px;
        @media screen and (max-width: $breakpoint) {
            font-size: 12px;
            width: 97px;
            margin: auto;
        }
    }
}
